# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv_research/
.env

# Docker
.docker/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db

# Project specific
.cache/
data/

# Ignore huge Data files
research/nasa_data/
research/nasa_data/*